@import "variablescustomized";

.carousel-inner {
  height: 75vh;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.25);
  }
}

.carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel-overlay-container {
    text-align: center;
  }

  .carousel-overlay-title {
    color: darken($primary, 5%);
    font-weight: bold;
    font-size: 4rem;
  }

  .carousel-overlay-subtitle {
    font-size: 2rem;
  }
}
