body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #000;
}

h1 {
    color: #03A6A6;
    font-size: 70px;
    margin: 0 0 0 -4px;
}

.subtitle {
    color: #8FBDD9;
    font-size: 25px;
    margin-top: 0;
}

h2 {
    color: #03A6A6;
    margin: 0;
    font-size: 25px;
}

.section-title {
    width: 930px;
    margin: 40px auto 20px;
}

h3 {
    color: #03A6A6;
    margin: 0;
}

.info {
    margin-top: 2px;
}

.company {
    color: #8FBDD9;
}

.date {
    color: #8FBDD9;
    margin-left: 15px;
}

article {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.article-picture {
    width: 90%;
    max-height: 75vh;
    object-fit: cover;
    margin-bottom: -150px;
}

.list {
    display: block;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.row--large {
    flex-direction: row;
}

.content {
    padding: 100px 150px 100px 100px;
    background-color: #f1f1f1;
    max-width: 750px;
    margin-right: -100px;
}

.content--row {
    padding: 20px 40px 10px 80px;
    margin-right: 0;
    margin-left: -40px;
}

.content--large {
    padding: 40px 190px 40px 40px;
    margin-left: 0;
    margin-right: -140px;
    max-width: 640px;
}

.content--full {
    padding: 100px 100px 100px 100px;
    margin: 0;
}

.profile-picture {
    width: 300px;
    height: 300px;
}

.row-picture {
    width: 100px;
    height: 100px;
}

.row-picture--large {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: #8FBDD9;
    margin-right: 10px;
}

a:hover {
    color: #03A6A6;
}

.tilebox {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #f1f1f1;
    color: #03A6A6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: background-color 0.1s;
}

.tile:hover {
    background-color: #8FBDD9;
    color: #f1f1f1;
}

.tile-image {
    width: 50%;
    height: 50%;
    margin: 10px;
    object-fit: contain;
}

.text--large {
    font-size: large;
}

.items {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items-title {
    width: 100%;
    max-width: 1150px;
    margin-bottom: 50px;
}

.item {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.item-content {
    padding: 40px;
    margin-left: 0;
    margin-right: -40px;
    background-color: #f1f1f1;
    width: 50%;
}

.item-picture {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    article {
        padding: 50px;
    }

    .items {
        padding: 50px;
    }

    .profile-picture {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 950px) {
    article {
        padding: 50px;
        align-items: flex-start;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        margin-top: 40px;
    }

    .content {
        padding: 50px 100px 50px 50px;
        margin-right: -75px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 20px;
    }

    tilebox {
        max-width: 500px;
    }
}

@media (max-width: 750px) {
    article {
        align-items: flex-end;
        flex-direction: column-reverse;
        padding-top: 0px;
    }

    .article--full {
        align-items: center;
        flex-direction: column;
    }

    .content {
        padding: 50px;
        margin-right: 0;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        margin-bottom: -90px;
        margin-right: 20px;
    }

    h1 {
        font-size: 50px;
        margin: 0;
    }
}

@media (max-width: 580px) {
    .profile-picture {
        width: 100px;
        height: 100px;
        margin-bottom: -30px;
    }

    h1 {
        font-size: 35px;
    }

    article {
        padding: 0 20px 20px;
    }

    .content {
        padding: 30px;
    }

    .tile {
        width: 100px;
        height: 100px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2a33;
        color: #fff;
    }

    .content {
        background-color: #393840;
    }

    .tile {
        background-color: #393840;
    }

    .tile:hover {
        background-color: #42414d;
    }

    .item-content {
        background-color: #393840;
    }
}
