<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Ruben Smit - {{ page.title }}</title>
  <meta name="description" content="{{ content | strip_html }}"/>
  <meta name="author" content="Ruben Smit">

  <meta property="og:title" content="Ruben Smit - {{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Ruben Smit" />
  <meta property="og:description" content="{{ content | strip_html }}" />
  <meta property="og:image" content="{{ site.url }}/images/profile-image.png" />

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<nav>
  <div class="nav-container">
    <a href="/" class="nav-brand">Ruben Smit</a>
    <div class="nav-items">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
    </div>
  </div>
</nav>
<section class="items">
  <h1 class="items-title items-title--page">Posts</h1>
  {% for post in site.posts %}
  <a href="{{ post.url }}" class="item">
    <img class="item-picture" alt="{{ post.title }}" src="{{ post.image }}">
    <div class="item-content">
      <h3>{{ post.title }}</h3>
      <p class="info"><span class="category">{{ post.categories }}</span><span class="date">{{ post.date | date: "%-d %B %Y" }}</span></p>
      <div class="text">{{ post.excerpt }}</div>
    </div>
  </a>
  {% endfor %}
</section>
<footer>
  © Ruben Smit
</footer>
</body>
</html>
